HISTSIZE=50000
SAVEHIST=50000
HISTFILE=~/.zsh_history

CASE_SENSITIVE="false"
HYPHEN_INSENSITIVE="false"
DISABLE_AUTO_UPDATE="false"
DISABLE_LS_COLORS="false"
DISABLE_AUTO_TITLE="false"
ENABLE_CORRECTION="false"
COMPLETION_WAITING_DOTS="true"

export PATH=$HOME/bin:/usr/local/bin:$PATH

export NVM_LAZY_LOAD=true

# Plugins start
export ZPLUG_HOME=/usr/local/opt/zplug
source $ZPLUG_HOME/init.zsh

zplug "dracula/zsh", as:theme
zplug "plugins/history", from:oh-my-zsh
zplug "plugins/git", from:oh-my-zsh
zplug "plugins/vi-mode", from:oh-my-zsh
zplug "plugins/fzf", from:oh-my-zsh

zplug "zsh-users/zsh-syntax-highlighting", defer:2
zplug "zsh-users/zsh-history-substring-search", defer:3
zplug "zsh-users/zsh-autosuggestions"
zplug "zsh-users/zsh-completions", depth:1

zplug "lukechilds/zsh-nvm"

if ! zplug check; then
    printf "Install? [y/N]: "
    if read -q; then
        echo; zplug install
    fi
fi

zplug load
# End of plugins

# User configuration

export EDITOR=/usr/local/bin/nvim
export GPG_TTY=$(tty)

export GOPATH={{ GOPATH }}
export GCPATH={{ GCP_PATH }}
export JAVA_HOME={{ JAVA_HOME }}
export NODE_MODULES_BIN=./node_modules/.bin
export CARGO_HOME=~/.cargo
export PATH=$PATH:"$(yarn global bin)":$JAVA_HOME/bin:$GCPATH/bin:$GOPATH/bin:$NODE_MODULES_BIN:$CARGO_HOME/bin

{% for k, v in ENVS.items() %}
export {{ k }}={{ v }}
{% endfor %}

export LANG=en_US.UTF-8

if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='nvim'
fi

# SSH
export SSH_KEY_PATH="~/.ssh/rsa_id"

export FZF_BASE="/usr/local/opt/fzf"
export FZF_DEFAULT_COMMAND='rg --files --hidden'

# Aliases start
alias ag='ag --path-to-ignore ~/.ignore'
alias mkdir="mkdir -p"
alias e="$EDITOR"
alias ls="exa"

unalias g
function g() {
  if [[ $# > 0 ]]; then
    git $@
  else
    git status
  fi
}

compdef g=git

alias gpr="git pull -r"
alias gaa="git add --all"
alias gp="git push -u origin HEAD"

function gcm() { 
  git commit -m $@
}

fe() {
  local files
  IFS=$'\n' files=($(fzf-tmux --query="$1" --multi --select-1 --exit-0))
  [[ -n "$files" ]] && ${EDITOR:-vim} "${files[@]}"
}

# gcb - git checkout branch (including remote branches)
fcb() {
  local branches branch
  branches=$(git branch --all | grep -v HEAD) &&
  branch=$(echo "$branches" |
           fzf-tmux -d $(( 2 + $(wc -l <<< "$branches") )) +m) &&
  git checkout $(echo "$branch" | sed "s/.* //" | sed "s#remotes/[^/]*/##")
}

flpass() {
  lpass login "aleh.atsman@gmail.com"
  lpass show -c --password $(lpass ls  | fzf | awk '{print $(NF)}' | sed 's/\]//g')
}

alias c="clear"

alias n="cd ~/Projects/atsman/notes; e"

alias gh="open https://github.com/atsman"

alias vimdiff='nvim -d'
# End of aliases
