{:user {:dependencies [[org.clojure/tools.nrepl "0.2.12"]]
        :plugins [[lein-kibit "0.1.5"]
                  [lein-cljfmt "0.5.7"]
                  [jonase/eastwood "0.2.5"]
                  [lein-ancient "0.6.14"]
                  [lein-deps-tree "0.1.2"]
                  [lein-update-dependency "0.1.2"]
                  [lein-pprint "1.2.0"]
                  [lein-set-version "0.4.1"]
                  [cider/cider-nrepl "0.17.0"]]
        :repl-options {}
        :signing {:gpg-key "{{ lein_gpg_key }}"}}}
