[user]
	name = Aleh Atsman
  email = aleh.atsman@gmail.com
  editor = nvim
[merge]
  tool = kdiff3
	guitool = kdiff3
[mergetool "kdiff3"]
  path = /usr/local/bin/kdiff3
  trustExitCode = false
[diff]
  guitool = kdiff3
[difftool "kdiff3"]
  path = /usr/local/bin/kdiff3
  trustExitCode = false
