[user]
  name = {{ FULLNAME }}
  email = {{ EMAIL }}
  editor = nvim
[merge]
  tool = vimdiff
  guitool = vimdiff
  conflictstyle = diff3
[mergetool "vimdiff"]
  trustExitCode = false
  prompt = false
[diff]
  guitool = vimdiff
[difftool "vimdiff"]
  trustExitCode = false
