# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'christoomey/vim-tmux-navigator'

set-environment -g PATH "/usr/local/bin:/bin:/usr/bin"

run '{{ tmux_path }}/plugins/tpm/tpm'

# Remap prefix from 'C-b' to 'C-a'
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

# New pane / window logic
bind | split-window -h -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"
unbind '"'
unbind %
bind c new-window -c '#{pane_current_path}' # Create new window

# Config reload
bind r source-file ~/.tmux.conf

# Status bar styles
set-window-option -g status-left ""
set-window-option -g status-right ""

set-window-option -g status-bg black
set-window-option -g status-fg white

set-window-option -g window-status-format " #I: #W "

set-window-option -g window-status-current-format " #I: #W "
# set-window-option -g window-status-current-fg white
# set-window-option -g window-status-current-bg colour8

set -g window-status-current-style fg=white,bg=colour8

# Start windows and panes at 1, not 0
set -g base-index 1
setw -g pane-base-index 1
